html {
    width: 100%;
    height: 100%;
}

body {
    background: url(../img/backgrounds/main.jpg) no-repeat bottom center scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    background-size: cover;
}

header {
    width: 80vw;
    height: max-content;
    max-height: 11vh;
    text-align: center;
    margin: 10px auto 0;
    border: var(--border);
    border-radius: 20px;
    font-size: 3.5rem;
    background-color: var(--background-h-f);
    backdrop-filter: blur(10px);
}

header img {
    width: 50%;
    max-height: 100%;
}

main {
    width: 85vw;
    height: 60vh;
    padding: 25px;
    margin: 35px auto 0;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: 10px;
    background-color: var(--background-h-f);
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

main::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
    background-color: var(--azul-escuro);
}

.class {
    padding: 10px;
    margin: 10px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 206px;
    max-width: 250px;
}

.mageDiv {
    background-color: var(--mageDiv);
}

.warriorDiv {
    background-color: var(--warriorDiv);
}

.assassinDiv {
    background-color: var(--assassinDiv);
}

.archerDiv {
    background-color: var(--archerDiv);
}

.titleClass {
    font-size: 2rem;
    text-align: center;
    margin: 5px 10px 10px;
}

.imgClass {
    width: 90px;
    margin: 0 auto 15px;
}

.containerInfo {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.class:hover .containerInfo {
    max-height: 1000px;
    transition: max-height 0.25s ease-in;
}

.info {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

button,
.enviar {
    font-size: 2rem;
    padding: 15px;
    opacity: 1;
    border-radius: 10px;
    border: none;
    font-family: 'Super Legend Boy', sans-serif;
    color: white;
    cursor: pointer;
}

.buttonMage {
    background-color: var(--mage);
}

.buttonWarrior {
    background-color: var(--warrior);
}

.buttonAssassin {
    background-color: var(--assassin);
}

.buttonArcher {
    background-color: var(--archer);
}

form {
    width: max-content;
    max-width: 85%;
    background-color: var(--background-second-tranparent);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
}

label {
    font-size: 2.5rem;
}

input#idade,
input#name {
    margin: 15px 0 20px;
    border: none;
    padding: 10px 5px;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    font-family: 'Super Legend Boy', sans-serif;
}

input#sexoF,
input#sexoM {
    margin: 0 10px;
    width: 15px;
    height: 15px;
}

.enviar {
    padding: 20px;
    margin: 20px 0 0;
    background-color: var(--background-second)
}

.confirmar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-second-tranparent);
    border-radius: 20px;
}

.confirmar .informacoes {
    font-size: 2.5rem;
    margin-bottom: 20px;
    align-self: flex-start;
}

.confirmar div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.decisao {
    background-color: var(--background-second);
    margin: 7.5px 0;
}

.conteinerMenu {
    animation: popUp 1s, fadeIn 1.5s;
    display: flex;
    width: 40%;
    min-width: 250px;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-second-tranparent);
    padding: 20px;
    border-radius: 20px;
}

.conteinerMenu h2 {
    margin: 10px 0;
    font-size: 3rem;
}

.conteinerMenu button {
    margin-bottom: 10px;
    width: 100%;
    padding: 17px 0;
}

#historia {
    background-color: var(--historia);
}

#status {
    background-color: var(--status);
}

#treinar {
    background-color: var(--treinar);
}

#reset {
    background-color: var(--voltar);
}

#creditos {
    background-color: var(--contato);
}

.containerStatus,
.containerCidades {
    width: 40%;
    min-width: 250px;
    animation: popUp 1s, fadeIn 1.5s;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-second-tranparent);
}

.fechar {
    background-color: var(--warrior);
    width: max-content;
    padding: 20px;
    background-image: url(../img/fechar.png);
    background-size: 25px;
    background-position: center;
    margin-top: -10px;
    margin-right: -10px;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: 1px outset white;
    align-self: flex-end;
}

.containerStatus h2,
.containerCidades h2 {
    margin-top: -40px;
    text-align: center;
    margin-bottom: 10px;
    width: max-content;
    align-self: center;
    font-size: 3rem;
}

.containerStatus p,
.containerStatus li {
    font-size: 2rem;
}

.containerStatus ul {
    display: flex;
    flex-wrap: wrap;
}

.containerStatus p,
.containerCidades button {
    margin-bottom: 15px;
}

.containerCidades button p {
    margin-bottom: 5px;
}

.containerStatus li {
    margin: 5px 10px 5px 0;
}

#laguna {
    background-image: var(--laguna);
}

.monstros {
    background-color: var(--monstro);
}

.containerHistoria {
    margin-top: 30px;
    align-self: flex-start;
    width: 70%;
    min-width: 250px;
    font-size: 3.2rem;
    text-align: left;
    animation: fadeIn 1s;
}

.containerHistoria .passar {
    display: none;
}

.containerLuta {
    height: max-content;
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
}

.ataques {
    background-color: var(--background-second-black);
    margin-right: 15px;
}

.divLuta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
    overflow: hidden;
}

.comecoLutaPlayer {
    animation: player 1s 1;
}

.comecoLutaMonstro {
    animation: monstro 1s 1;
}

.containerPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.containerPlayer img {
    width: 50%;
}

.containerVs {
    transform: translate(-10%, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerVs img {
    width: 80%;
}

.containerMonstro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.containerMonstro img {
    width: 50%;
}

.containerPlayer>p,
.containerMonstro>p {
    margin-bottom: 20px;
}

.baterNoMonstro {
    animation: baterNoMonstro 1s;
}

.baterNoPlayer {
    animation: baterNoPlayer 1s;
}

.animacaoMorrer {
    animation: morrer 2s 1 0.6s forwards;
}

.vidaTotalMonstro,
.vidaTotalPlayer {
    width: 100%;
    min-width: max-content;
    border: 2px inset #ffc90e;
    height: max-content;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 100px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.vidaTotalMonstro p,
.vidaTotalPlayer p {
    margin-top: -25px;
}

@media screen and (max-width: 500px) {
    .vidaTotalMonstro p,
    .vidaTotalPlayer p {
        font-size: 1.2rem;
    }
}

.vidaMonstro,
.vidaPlayer {
    background-color: rgb(0, 118, 8);
    margin: -1px;
    border-radius: 10px;
}

.golpes {
    transition: 1s;
}

footer {
    border: var(--border);
    width: 90vw;
    height: 100px;
    margin-top: 50px;
    align-self: center;
    background-color: var(--background-h-f);
    display: flex;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
}

.passar {
    position: absolute;
    bottom: 0;
    align-self: flex-end;
    margin-right: 20px;
    animation: vaiEvolta 1s infinite;
}